/* General */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.45px;
  font-family: 'Raleway', sans-serif;
  background: #fff;
  color: #000;
}

h1 span, h3 {
  font-weight: 700;
  font-size: 60px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  line-height: 24px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

/* Navigation */
nav .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-top: 65px;
  margin: 0 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

nav.bg {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

nav ul {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  margin-left: 38px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

nav ul li a:hover {
  color: #000;
  font-weight: bold;
}

/* Button */
button {
  padding: 20px 50px;
  margin-top: 60px;
  background: #fff;
  border-width: 4px;
  border-style: solid;
  border-color: #fff;
  border-radius: 5px;
  color: #134d99;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.35px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  line-height: 24px;
  text-align: center;
}

/* Sections */
.service, .works {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 100px;
}

.service .text, .works .text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.service h2, .works h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  padding-top: 110px;
}

.service h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-top: 80px;
  margin-bottom: 50px;
}

.service p {
  font-size: 16px;
  font-weight: 400;
  padding: 0 30px;
}

.service ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 300px;
  margin-right: 20px;
  list-style: none;
  text-align: center;
}

.dot {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 3px solid #134d99;
  background-color: #fff;
  border-radius: 50%;
  color: #134d99;
}

.dot i {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.works {
  background: #edeff1;
  min-height: 1350px;
  margin-bottom: 10px;
}

.works .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 100px;
  text-align: center;
}

.works .box {
  position: relative;
  width: 300px;
  height: 390px;
  background: #fff;
}

.works .whitebox {
  position: absolute;
  width: 100%;
  height: 120px;
  background: #fff;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.works .whitebox p {
  font-family: 'Noto Serif', serif;
  color: #737373;
  font-size: 14px;
  font-style: italic;
}

.works .text {
  top: -100px;
}
/*# sourceMappingURL=style.css.map */